/* Style sheet for table example */

body {
   color : #000000;
   background-color : #ffffff;
}

h1 {
  font-size : 18pt;
}

p {
  font-size : 12pt;
}
div {
  visibility : hidden;
  width : 300px;
  height :100px;
  margin : 10px;
  background : #99ccff;
}
#toggle {

}